<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3 byt_background">
		<section class="row byt_intro">
			<!-- 
				<a id="byt-left-arrow" routerLink="../byt-edu-credit-card-2" class="glyphicon glyphicon-arrow-left"></a>
			-->
			<a id="byt-right-arrow" routerLink="../byt-edu-credit-card-1" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_question row">
				<iframe style="width: 100%; height: 300px;" width="560" height="215" src="https://www.youtube.com/embed/Hzu8b_5AxrA" frameborder="0" allowfullscreen></iframe>
			</section>
		</section>
		<br>		
	</section>
</section>
<byt-direct-link></byt-direct-link>