<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3 byt_background">
		<section class="row byt_intro">
			<a id="byt-left-arrow" routerLink="../byt-edu-credit-card-3" class="glyphicon glyphicon-arrow-left"></a>
			<a id="byt-right-arrow" routerLink="../byt-edu-credit-card-5" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_question row">
				What is the difference between an annual percentage rate (APR) and an annual percentage yield (APY)?
			</section>
			<section *ngIf="AnswerChoice1" class="byt_gif_1 row">
				<iframe style="margin-left: 28px" src="https://giphy.com/embed/3otPoumTG9VHMQlIPu" width="240" height="120" frameBorder="0" class="giphy-embed"></iframe>
				<section class="alert alert-success" role="alert" style="margin-right: 48px; margin-left: 40px; margin-bottom: 0px">
					Yup, consider a credit card with an APR of 15.99% that is compounded monthly (or 12 times per year). The APY would be about 17.22%. What about if interest was compounded daily? Now you’re looking at an APY of 17.33%.
				</section>
			</section>
			<section *ngIf="AnswerChoice2" class="byt_gif_2 row">
				<iframe src="https://giphy.com/embed/EaxciIRvOziSY" width="240" height="120" frameBorder="0" class="giphy-embed"></iframe>
				<section class="alert alert-danger" role="alert" style="margin-right: 48px; margin-left: 12px; margin-bottom: 0px">
					No ma'am / sir. The APY will always be higher or equal to the APR.
				</section>
			</section>
			<section *ngIf="AnswerChoice3" class="byt_gif_3 row">
				<iframe src="https://giphy.com/embed/l0HlP8UutaaPsauFa" width="240" height="120" frameBorder="0" class="giphy-embed"></iframe>
				<section class="alert alert-danger" role="alert" style="margin-right: 48px; margin-left: 12px; margin-bottom: 0px">
					Nope. Given that the APY takes compounding into account, it will always be higher or equal to the APR.
				</section>
			</section>
			<section *ngIf="AnswerChoice4" class="byt_gif_4 row">
				<iframe style="margin-left: -27px" src="https://giphy.com/embed/l0OXWXUHdp4K9nitq" width="240" height="120" frameBorder="0" class="giphy-embed"></iframe>
				<section class="alert alert-danger" role="alert" style="margin-right: 48px; margin-left: 12px; margin-bottom: 0px">					
					No no no chico / chica. Bank marketing materials often mention APR far more than APY. I wonder why that is?!
				</section>
			</section>

			<section class="row" style="margin-left: 0px;">
				<section class="byt_potential_answer_1">
					<input style="cursor:pointer;" type="checkbox" [checked]="SomeVar1" (click)="SomeFunction1()">
				</section>
				<section class="byt_potential_answer_text_1">
					The APR is the base rate, while the APY takes compounding into account. 
				</section>
			</section>
			<section class="row" style="margin-left: 0px;">
				<section class="byt_potential_answer_2">
					<input style="cursor:pointer;" type="checkbox" [checked]="SomeVar2" (click)="SomeFunction2()">
				</section>
				<section class="byt_potential_answer_text_2">
					The difference is that the APY is always lower than the APR.
				</section>
			</section>
			<section class="row" style="margin-left: 0px;">
				<section class="byt_potential_answer_3">
					<input style="cursor:pointer;" type="checkbox" [checked]="SomeVar3" (click)="SomeFunction3()">
				</section>
				<section class="byt_potential_answer_text_3">
					The difference is that the APY is always less than or equal to the APR.
				</section>
			</section>
			<section class="row" style="margin-left: 0px;">
				<section class="byt_potential_answer_4">
					<input style="cursor:pointer;" type="checkbox" [checked]="SomeVar4" (click)="SomeFunction4()">
				</section>
				<section class="byt_potential_answer_text_4">
					The difference is that banks often mention APY much more than APR.
				</section>
			</section>
			<br>
			<button (click)="submitAnswerFunc()" class="btn btn-default btn-lg byt_intro_message_button pull-right">Submit</button>
		</section>
		<br>		
	</section>
</section>
<byt-direct-link></byt-direct-link>