<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3">
		<div class="progress byt_progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="31.25" aria-valuemin="0" aria-valuemax="100" style="width: 31.25%"> 
			</div>
		</div>
		<br>
	</section>
	<section class="col-md-6 col-md-offset-3 byt_background">	
		<section class="row byt_intro">
			<a id="byt-left-arrow" routerLink="../app-menu" class="glyphicon glyphicon-arrow-left"></a>
			<a id="byt-right-arrow" routerLink="../net-worth-intro-1" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_intro_message">Calculating and understanding our net worth is an important step in our journey towards financial freedom. Why? Because our net worth takes into account everything we own (assets) and everything we owe (liabilities). A positive net worth tells us that our assets are greater than our liabilities - a good thing. While a negative net worth tells us the opposite - a not so good thing.
			<br>
			<button routerLink="../net-worth-intro-1" class="btn btn-default btn-lg byt_intro_message_button1 pull-right">Net worth</button>
		</section>
		<br>
	</section>
</section>