<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3">
		<div class="progress byt_progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="37.50" aria-valuemin="0" aria-valuemax="100" style="width: 37.50%"> 
			</div>
		</div>
		<br>
	</section>
	<section class="col-md-6 col-md-offset-3 byt_background">	
		<section class="row byt_intro">
			<a id="byt-left-arrow" routerLink="../net-worth-intro-0" class="glyphicon glyphicon-arrow-left"></a>
			<a id="byt-right-arrow" routerLink="../balance-sheet/assets" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_intro_message">
				On the next page, do the following.
			</section>
			<section class="byt_intro_message1">
				In the Assets tab, enter the balances in all your bank, investment, and retirement accounts. Also, enter the value of any property you own (examples - home, car, jewelry) 
			</section>			
			<section class="byt_intro_message1">
				In the Liabilities tab, enter the amount owed on all debt (make sure to include all personal, car, retirement, student, mortgage, IRS, and mortgage loans)
			</section>
			<section class="byt_intro_message1">
				In the Net Worth tab, a positive (green) number indicates that our assets are more than our liabilities. A negative (red) figure tells us the opposite. Either way, we can directly impact our net worth everyday by spending less than we earn!  
			</section>
			<br>
			<button routerLink="../balance-sheet/assets" class="btn btn-default btn-lg byt_intro_message_button1 pull-right">Calculate net worth</button>
		</section>
		<br>
	</section>
</section>