<byt-nav (bytPaid)="theCustomerPaidStripe()"></byt-nav>
<br>
<br>
<section class="container">	
	<section class="col-md-8 col-md-offset-2 text-center">
		<button routerLink="../net-worth-intro-0" type="button" class="btn btn-default btn-md animated infinite pulse byt_direct_link">Calculate Net Worth</button>
		<button routerLink="../budget-intro-text-0" type="button" class="btn btn-default btn-md animated infinite pulse byt_direct_link">Let's Budget</button>



		<button routerLink="../byt-profile" type="button" class="btn btn-warning btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Bitcoin Overview</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-warning btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Blockchain Overview</button>



		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Remove Inaccuracies From Credit Report</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Increase Credit Score</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Repair Bad Credit</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is ChexSystems</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Get Off Of ChexSystems</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is Debt Relief</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Debt Settlement Strategy</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-primary btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Interest Rate Reduction Strategy</button>



		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>How To Invest In Real Estate Profitably</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Down Payment For Primary Residence</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Down Payment For Investment Property</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Down Payment For Coop</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Down Payment For Condo</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is PMI?</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>How To Avoid PMI?</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Are Closing Costs?</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>How To Calculate Closing Costs?</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is Homeowner's Insurance?</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-success btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Calculate Homeowner's Insurance?</button>


		
		<button routerLink="../byt-profile" type="button" class="btn btn-danger btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Create Passive Income</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-danger btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Make Your Money Work Harder And Smarter</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-danger btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Start A Successful Small Business</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-danger btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Win On Social Media</button>



		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>Make Money In Stocks</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>How To Value A Stock</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>How To Value A Bond</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is A Stock</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is A Bond</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is A Mutual Fund</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is A Stock Market</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is Venture Capital</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>How To Raise Capital From Investors</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is Debt Financing</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is Equity Financing</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is The Difference Between Debt And Equity Financing</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is The Price-To-Earnings Ratio</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is The Price-To-Book Ratio</button>
		<button routerLink="../byt-profile" type="button" class="btn btn-info btn-md animated infinite pulse byt_direct_link">
			<span *ngIf="!bytPayingCustomer" class="glyphicon glyphicon-lock byt_lesson_lock"></span>What Is The Price-To-Sales Ratio</button>


	</section>
</section>

<!--

<section class="col-md-6 col-md-offset-3 byt_background text-center">	
		<section class=" byt_white_background">
			<section class="byt_menu_stocks">
				<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
				<br>
				<section class="byt_menu_stocks_text">Stocks</section>
			</section>
			<section class="byt_menu_stocks">
				<i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
				<br>
				<section class="byt_menu_credit_cards_text">Credit Cards</section>
			</section>
		</section>
		<br>
	</section>
</section>

-->