<br>
<section class="container">
	<section class="col-md-8 col-md-offset-2 text-center">
		<!--
		<button routerLink="../balance-sheet/assets" type="button" class="btn btn-warning btn-lg animated infinite pulse byt_direct_link">Net Worth - Assets</button>
		<button routerLink="../balance-sheet/liabilities" type="button" class="btn btn-warning btn-lg animated infinite pulse byt_direct_link">Net Worth - Liabilities</button>
		-->
		<button routerLink="../byt-budget-7" type="button" class="btn btn-danger btn-lg animated infinite pulse byt_direct_link">Budget Period</button>
		<button routerLink="../projections/income" type="button" class="btn btn-primary btn-lg animated infinite pulse byt_direct_link">Projections - Income</button>
		<button routerLink="../projections/bills" type="button" class="btn btn-primary btn-lg animated infinite pulse byt_direct_link">Projections - Bills</button>
		<button routerLink="../projections/expenses" type="button" class="btn btn-primary btn-lg animated infinite pulse byt_direct_link">Projections - Expenses</button>
		<button routerLink="../record/income" type="button" class="btn btn-info btn-lg animated infinite pulse byt_direct_link">Record - Income</button>
		<button routerLink="../record/bills" type="button" class="btn btn-info btn-lg animated infinite pulse byt_direct_link">Record - Bills</button>
		<button routerLink="../record/expenses" type="button" class="btn btn-info btn-lg animated infinite pulse byt_direct_link">Record - Expenses</button>
		<button routerLink="../dashboard" type="button" class="btn btn-success btn-lg animated infinite pulse byt_direct_link">Dashboard</button>
		<!--
		<button routerLink="../byt-edu-credit-card-video-1" style="background-color: #c242f4; border-color: #c242f4;" type="button" class="btn btn-success btn-lg animated infinite pulse byt_direct_link">Quiz - Credit Cards</button>
		<button routerLink="../byt-edu-stocks-1" style="background-color: #c242f4; border-color: #c242f4;" type="button" class="btn btn-success btn-lg animated infinite pulse byt_direct_link">Quiz - Stocks</button>
	    -->
	</section>
</section>