<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3 byt_background">
		<section class="row byt_intro">
			<!-- 
				<a id="byt-left-arrow" routerLink="../byt-edu-credit-card-2" class="glyphicon glyphicon-arrow-left"></a>
			-->
			<a id="byt-right-arrow" routerLink="../byt-edu-credit-card-1" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_question row">
				<button routerLink="../byt-education-list" type="button" class="btn btn-success btn-lg animated infinite pulse byt_direct_link">Education</button>
				<button routerLink="../byt-budget-0" style="background-color: #c242f4; border-color: #c242f4;" type="button" class="btn btn-success btn-lg animated infinite pulse byt_direct_link">Budgeting</button>
			</section>
		</section>
		<br>		
	</section>
</section>