.dashboard_text_analysis_1 {
	text-align: center; 
	margin-top: 10px;
	background-color: #e7f5fe;
	height: 55px !important;
	vertical-align: middle;
	border-radius: 5px;
	color: #919496;
}
.dashboard_analysis {
	background-color: #FFFFFF;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 5px;
	color: #919496;
}
.dashboard_analysis table tbody tr td {
	font-size: 14px;
	width: 50%;
	text-align: center;	
	vertical-align: middle;
	height: 55px;
	color: #919496;
}
.table {
	margin-bottom: 0px !important;
	color: #919496;
}
.table th, .table td { 
     border-top: none !important; 
     color: #919496;
 }

@media screen and (max-width: 767px) {
	.table-responsive {
	    width: 100%;
	    margin-bottom: 0px !important;	    
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 0px solid #ddd !important;
	}
}