<section class="animated infinite flipInX">
	<h3>Only liabilities</h3>
</section>
<byt-last-liability-entry></byt-last-liability-entry>
<section class="row">
	<section class="liability">
		<section class="panel-group" *ngIf="allLiabilitiesLength > 0" id="accordion" role="tablist" aria-multiselectable="true">
			<section class="panel panel-title">
				<section class="panel-heading" role="tab" id="headingOne">		
					<section class="panel-title" style="font-size:14px;">
						<section role="button" data-toggle="collapse" data-target="#collapse" (click)="byt_active=!byt_active">				
							<section role="button" *ngIf="byt_active" data-toggle="collapse" data-target="#collapse" class="glyphicon glyphicon-plus"></section>
							<section role="button" *ngIf="!byt_active" data-toggle="collapse" data-target="#collapse" class="glyphicon glyphicon-minus"></section> 
							All liabilities
						</section>
					</section>
				</section>
				<section id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<section *ngFor="let liability of allLiabilities; let i=index">
						<section class="panel-body" style="padding:13px">
							<section style="width:20%; float:left; text-align:center; display:inline">{{liability.date | date:'MM/dd'}}</section>
							<section style="width:40%; float:left; text-align:center; display:inline">{{liability.description}}</section>
							<section style="width:30%; float:left; text-align:center; display:inline">{{liability.amount | number:'.0-0'}}
							</section>
							<section role="button" style="width:10%; float:right; text-align:center; display:inline" (click)="removeLiability(i)"><i class="glyphicon glyphicon-remove"></i></section>
						</section>
					</section>
				</section>
			</section>
		</section>
		<section *ngIf="allLiabilitiesLength > 0" class="panel-group">
			<section *ngFor="let category of liabilityCategoryTotals | bytOrderBy">
				<section class="panel">
					<section class="panel-heading" *ngIf="category.total > 0">
						<section class="panel-title" style="font-size: 14px; text-decoration: none; margin: 2px;">{{category.category}} - {{category.total | number:'.0-0'}}</section>	
					</section>
				</section>
			</section>
		</section>
    </section>
</section>
<byt-liability-form (liabilityForm)="childLiabilityForm($event)"></byt-liability-form>
<br>