<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3">
		<div class="progress byt_progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="93.75" aria-valuemin="0" aria-valuemax="100" style="width: 93.75%"> 
			</div>
		</div>
		<br>
	</section>
	<section class="col-md-6 col-md-offset-3 byt_background">	
		<section class="row byt_intro">
			<a id="byt-left-arrow" routerLink="../record/income" class="glyphicon glyphicon-arrow-left"></a>
			<a id="byt-right-arrow" routerLink="../dashboard" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_intro_message_2">
				Awesome! Now let's put it all together.
			</section>
			<section class="byt_intro_message_2">
				An important area of focus on the next page is the Projected versus Actual field (top). There, you'll be able to compare your actual performance (the amount of income you received and the amount of bills and expenses that you incurred) versus your initial projections/plan. The key here is to realize where you are struggling and then start addressing those areas immidiately. For some, income may be an area of improvement while for others, day-to-day expenses may be a pain point. <!-- Regardless, a Pro membership can help by giving you practical tips and advice that can help you earn and save more money. Button - Go Pro - $9 -->
			</section>
			<section class="byt_intro_message_2">
				Further down, you'll find a chart that'll forecast and compoound the amount of money that you saved at an interest rate of 8% and 10% for the next eight years. <!-- A Pro membership can also educate you on the many different types of investment products that have historically returned a higher rate of return than that of a savings account. -->
			</section>
			<section class="byt_intro_message_2">
				Next is our net worth. Our net worth is a very important number for us to analyze as it is a broad and comprehensive measure of our financial well-being. A negative number tells us that our liabilities are greater than our assets (no bueno). While a positive figure tells us the opposite (very bueno). Regardless, you can directly influence your net worth EVERYDAY by spending less than your daily budget. <a routerLink="../app-menu">Calcuate Net Worth</a>
			</section>
			<section class="byt_intro_message_2">
				Speaking of, the importance of our daily budget (bottom of next page) can not be overstated. Listen and feel me here, you build your future by executing today. And your mission today, and, on most days, is to spend less than your daily budget. Don't complain or cry. The numbers are the numbers and we have to sacrifice to move forward. Bottom line!
			</section>
			<section class="byt_intro_message_2">
				Now you may say, "But Eli, later on I have to buy gifts for a birthday present so I'll have to spend more than my daily budget". The good news is that the difference between your daily budget and what you actually spend every day accumulates. So if you spend less than your daily budget every day, then you can make larger purchases down the road for things such as birthday presents and still not be in danger of over spending. The same works in reverse. If you consistently spend more than your daily budget, then the overspending accumulates and you'll have to spend less in the future to make up the ground. This is the "Up by" or "Down by" number (one of my favorite things about this app).
			</section>
			<section class="byt_intro_message_2">
				Overall, on the next page, you'll find a comprehensive view of our finances. Our initial and updated net worth, daily budget, projection totals, and actual transaction totals are there. Remember, don't be lazy when it comes to learning. Take the time to study and understand all of these numbers as they will help you make better financial decisions and save and grow your money.
			</section>
			<br>
			<button routerLink="../dashboard" class="btn btn-default btn-lg byt_intro_message_button pull-right">Dashboard</button>
			<br>
		</section>
		<br>
	</section>
</section>


<!--

	<section class="byt_intro_message_2">
		Our net worth (on the next page) is a very important number for us to analyze as it is a broad and comprehensive measure of our financial well-being. A negative number tells us that our liabilities are greater than our assets (no bueno). While a positive figure tells us the opposite (very bueno). Regardless, you can directly influence your net worth EVERYDAY by spending less than your daily budget.
	</section>
	<section class="byt_intro_message_2">
		Speaking of, the importance of our daily budget (on the next page) can not be overstated. Listen and feel me here, you build your future by executing today. And your mission today, and, on most days, is to spend less than your daily budget. Don't complain or cry. The numbers are the numbers and we have to sacrifice to move forward. Bottom line!
	</section>
	<section class="byt_intro_message_2">
		Now you may say, "But Eli, later on I have to buy gifts for a birthday present and so I'll have to spend more than my daily budget". The good news is that the difference between your daily budget and what you actually spend every day accumulates. So if you spend less than your daily budget every day, then you can make larger purchases down the road for things such as birthday presents and still not be in danger of over spending. The same works in reverse. If you consistently spend more than your daily budget, then the overspending accumulates and you'll have to spend less in the future to make up the ground. 
	</section>
	<section class="byt_intro_message_2">
		On the next page, we'll find a comprehensive view of our finances. Our initial and updated net worth, daily budget, projection totals, and actual transaction totals are there. Send me questions - eliezernunezjr@gmail.com.
	</section>

-->