<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3">
		<div class="progress byt_progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="56.25" aria-valuemin="0" aria-valuemax="100" style="width: 56.25%"> 
			</div>
		</div>
		<br>
	</section>	
	<section class="col-md-6 col-md-offset-3 byt_background">
		<section class="row byt_intro">
			<a id="byt-left-arrow" routerLink="../app-menu" class="glyphicon glyphicon-arrow-left"></a>
			<a id="byt-right-arrow" routerLink="../budget-intro-text-1" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_intro_message">
				Think about your dream. What is it? Is it freedom from a job or boss that you hate? Is it being debt free? Or is it buying a home for your family or traveling around the world? No matter what your dream is, budgeting can help you get there. 
			</section>
			<section class="byt_intro_message1">
				And, no, budgeting is not that the occasional glance at your bank account to see how much money you have left. True budgeting is the deliberate process of selecting a budget period, making a plan for your money during that time period, then tracking your income, bills, and expenses on a daily basis as you progress through the budget period in order to understand if you're on track to hit your initial plan. 
			</section>
			<section class="byt_intro_message1">
				That is how you move forward financially. That is budgeting! 
			</section>		
			<br>
			<button routerLink="../budget-intro-text-1" class="btn btn-default btn-lg byt_intro_message_button pull-right">Start</button>
		</section>
		<br>
	</section>
</section>