<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3">
		<div class="progress byt_progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="68.75" aria-valuemin="0" aria-valuemax="100" style="width: 68.75%"> 
			</div>
		</div>
		<br>
	</section>
	<section class="col-md-6 col-md-offset-3 byt_background">	
		<section class="row byt_intro">
			<a id="byt-left-arrow" routerLink="../budget-intro-text-2" class="glyphicon glyphicon-arrow-left"></a>
			<a id="byt-right-arrow" routerLink="../projections/income" class="pull-right glyphicon glyphicon-arrow-right"></a>
			<section class="byt_intro_message_1">
				To make a plan, estimate or project the amount of income, bills, and expenses you're going to incur during your budget period. Income is the amount of cash you're going to receive. Bills are fixed payments you're going to make such as rent, internet, or the gym. And expenses are variable daily payments towards things such as groceries, gas, alcohol, hanging out and so forth.
			</section>
			<br>
			<button routerLink="../projections/income" class="btn btn-default btn-lg byt_intro_message_button pull-right">Set projections</button>
			<br>
		</section>
		<br>
	</section>
</section>	